:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --font-color: #ffffff;
  --secondary-font-color: #2f303a;
  --third-font-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

body {
  background-color: var(--font-color);
  color: var(--primary-text-color);
  margin: 0;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.modal-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--font-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: #2196f3;
  outline: none;
}

.list-icons-team {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
  margin-bottom: 30px;
}

.list-icons-team li:not(:last-child) {
  margin-right: 10px;
}

.icons-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-team:hover,
.icons-team:focus {
  background-color: var(--accent);
  fill: var(--font-color);
}

.icons-footer:hover,
.icons-footer:focus {
  background-color: var(--accent);
}

.icons-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #44454e;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-nav-footer {
  margin-left: 70px;
}

.list-icons-footer li:not(:last-child) {
  margin-right: 10px;
}

.list-icons-footer {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.hero-title {
  color: var(--font-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  color: var(--accent);
  margin-right: 93px;
  font-family: raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--primary-text-color);
}

.accent-footer {
  color: var(--font-color);
}

.logo-footer {
  margin-bottom: 25px;
  display: block;
  margin-right: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent);
}

.site-nav .current {
  color: var(--accent);
  padding-bottom: 32px;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  background-color: var(--accent);
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
  display: block;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.contacts-list a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.envelope {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope:hover,
.envelope:focus {
  color: var(--accent);
  cursor: pointer;
}

.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--secondary-font-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(to right, #2f303a, #2f303a), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.list-text {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list-text li:not(:last-child) {
  margin-right: 30px;
}

.list-text-item {
  height: auto;
  width: 270px;
  margin-bottom: 30px;
}

.list-text-icons {
  background-color: var(--third-font-color);
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */